 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <!-- <hr class="star-light"> -->
                </div>
            </div>
            
            <!-- creating 2 columns -->
            <div class="row">
                <div class="column left">
                    <!-- <h2>Column 1</h2> -->
                    <img class="img-responsive" src="img/profileST.png"/>

                </div>
                <div class="column right">
                    <!-- <h2>Column 2</h2> -->
                    <p>I am currently a senior on target to graduate with a bachelor’s in computer science in December 2020, 
                        from the school of Bourns College Of Engineering at the University Of California, Riverside.
                        Having worked as a systems administrator for over 10 years, my past work experience has allowed 
                        me to see the front and back-end interrelations between software engineering and the operations 
                        of computer systems, which in term have demonstrated the interconnections of the engineering process and the 
                        end-user. My studies have led me to focus in certain subjects within the software engineering scope, 
                        Artificial Intelligence, Machine Learning, and Natural Language Processing.</p>
                

                    <p>I am currently seeking new opportunities to further expand my knowledge.</p>
                    
                    <a href="../img/STresume.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Resume
                    </a>
                </div>
            </div>

            <!-- <div class="row"> -->
                
                <!-- <div class="col-lg-4 col-lg-offset-2"> -->
                
                <!-- <div class="col-lg-12" div>    
                    <img class="img-responsive" src="img/profileST.png"/>
                </div>

                <div class="col-lg-12" div>
                    
                    <p>I am currently a senior slated to graduate with a bachelor’s in computer science in December 2020, 
                        from the school of Bourns College Of Engineering at the University Of California, Riverside. 
                        Having worked as a systems administrator for over 10 years, my past work experience has allowed 
                        me to see the front and back-end interrelations between software engineering and the operations 
                        of computer systems, which in term have demonstrated the interconnections of the engineering process and the 
                        end-user. My studies have led me to focus in certain subjects with in the software engineering scope 
                        AI, machine learning, and Natural Language Processing.</p>
                

                    <p>I am currently seeking new opportunities to further expand my knowledge.</p>
                </div> -->
                
                <!-- Download Item -->
                <!-- <div class="col-lg-8 col-lg-offset-2 text-left"> -->
                <!-- <div class="col-lg-12" div>    
                    <a href="../img/STresume.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Resume
                    </a>
                </div> -->

            <!-- </div> -->
        </div>
    </section>
