 <!-- Experience Section -->
 <section class="success" id="experience">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Experience</h2>
                <!-- <hr class="star-light"> -->
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-lg-4 col-lg-offset-2"> -->
            <div class="col-lg-12">
                <h3 style="color:#dd7732">UCR Transfer Transition Program</h3>
                <h4>Lead Peer Mentor/Programmer</h4>
                <p>SEP 19 - CURRENT</p>
                <ul class="bullet-points">
                    <li>Lead a diverse and dynamic team of 10 Engineering Peer Mentors</li>
                    <li>Work on student ID sign-in Python application and google sheets to store data</li>
                    <li>Mentor and tutor students in computer science coursework and course planning</li>
                    <li>Presenter of seminars/workshops: technical mock interviews, resume review, and LinkedIn preparation</li>
                </ul>
                
                <h3 style="color:#dd7732">canoo</h3>
                <h4>Software Engineer Intern</h4>
                <p>SUMMER 2019</p>
                <ul class="bullet-points">
                    <li>Created a LIN analyzer using Arduino Leonardo and IDE with steering wheel switches, 
                        created a program in C/C++ that will scan for a specific master signal and send back 
                        requested data</li>
                    <li>Tested and debugged microservice widgets in hardware through serial connection, 
                        ran and created test using FUEGO framework and Docker</li>
                    <li>Built 2d game in HTML5 and JavaScript to be ran within the AGL framework</li>
                    <li>Created chat system with 2 Android phones using Android Studio, one device acted as a server and the other as a client</li>
                </ul>
                
                <h3 style="color:#dd7732">Richard Welling LLP</h3>
                <h4>Systems Administrator</h4>
                <p>2007-2019</p>
                <ul class="bullet-points">
                    <li>Setup new policies and procedures and trained staff on how to effectively use current 
                        applications (CCH Systems, Office Suite, CRM) increasing measurable staff production by 20%</li>
                    <li>Analyzed and implemented new automated processes to increase effective workflow 
                        with current applications reducing assembly time by 90%</li>
                    <li>Implemented new tax and billing software to increase staff productivity and effectively reducing the AR billing process by 50%</li>
                </ul>
            </div>
            <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download Theme
                </a>
            </div> -->
        </div>
    </div>
</section>
