<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- <img class="img-responsive" src="img/profileST.png" alt="profile-pic" /> -->
        <div class="intro-text">
          <!-- <span class="name">{{ site.title }}</span> -->
          <!-- <span class="name">Samuel Tapia</span>
          <p>Software Engineer -->
          <!-- <p>
            <span class="typed-text">Testing</span>
            <span class="cursor">&nbsp;</span>
          </p>
          <p class="line-1 anim-typewriter">Animation typewriter style using css steps()</p>
          <p class="line-1 anim-typewriter">Animation typewriter style using css steps()</p> -->
          <h1 style="font-size: 3em; text-align: center; color:#dd7732 ">Hello, I am</h1>
          <h1 style="font-size: 5em; text-align: center;">Samuel Tapia</h1>
          
          <h1 style="font-size: 3em; text-align: center;">Software Engineer</h1>
          <h1 style="font-size: 3em; text-align: center; color:#dd7732 ">This is my Portfolio</h1>
          <!-- <hr class="star-light" /> -->
          <!-- <span class="skills">{{ site.skills }}</span> -->
        </div>
      </div>
    </div>

    <!-- <div class="row">
        <p>This is the story about me</p>e
    </div> -->

  </div>
</header>
